<div   id="Dashboard" class="page">
    <h1>Dashboard</h1>
    <div class="insights">
        <div class="sales">
            <span><i class="fa-solid fa-chart-simple fa-xl"></i></span>
            <div class="middle">
                <div class="left">
                    <h3>Total Sales</h3>
                    <h1>$25,024</h1>
                </div>
                <div class="progress"> <svg>
                        <circle cx='38' cy='38' r="36"></circle>
                    </svg>
                    <div class="number">
                        <p>81%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>
        <div class="Users">
            <span><i class="fa-solid fa-users fa-xl"></i></span>
            <div class="middle">
                <div class="left">
                    <h3>Total Users</h3>
                    <h1>5000</h1>
                </div>
                <div class="progress"> <svg>
                        <circle cx='38' cy='38' r="36"></circle>
                    </svg>
                    <div class="number">
                        <p>81%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>


    </div>