
body{
    /* background-image:linear-gradient(to right,#8360c3,#2ebf91); */
    background-color:black;
}.topnav{
    background-color:white;
    height:2vw;
    padding:2vw;
    position:sticky;
    left:0;
    right:0;
    top:0;
}
.topnav a{
    color:black;
    text-decoration:none;
    font-size:1.5vw;
    padding:1.5vw;
    font-family:Montserrat;
}
.topnav a:hover{
    /* background-color:black;
    color:white; */
    cursor:pointer;
    font-family:Montserrat;
    border-bottom:black;
}
.vision{
    display:flex;
    /* background-color:rgb(193, 193, 193); */
    margin-top:0;
    height:auto;
    font-family:Montserrat;
    font-size:30px;
    line-height:1.5;
    /* align-items:center; */
}
@font-face {
    font-family:Montserrat;
    src: url(Montserrat-BlackItalic.ttf);
}
@media screen and (max-width: 768px) {
    .topnav a {
        font-size: 2.5vw; /* Adjust font size for smaller screens */
        /* padding:3vw; */
    }
}
/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
    .topnav a {
        font-size: 3vw; /* Adjust font size for even smaller screens */
        /* padding:3vw; */
    }
}
#n1{
    color:aqua;
}
#n2{
    color:aquamarine;
}
#n3{
    color:azure;
}
#n4{
    color:beige;
}
#n5{
    color:bisque;
}
#intro{
    white-space: nowrap;
    overflow:hidden;
    /* width:600px; */
    animation:anitro 2s steps(80,end);
}
@keyframes anitro{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
.ex{
    height:4000px;
    border-style:solid;
}
#smi{
    height:25px;
    width:25px;
}
.form {
    display: flex;
    height:400px;
    width:300px;
    flex-direction: column;
    font-family: inherit;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color:black;
    border-radius: 20px;
}

.form-heading {
    text-align: center;
    margin: 2em;
    color: #a200ff;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
}


.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
}

.form-card1 {
    background-image: linear-gradient(163deg, #a200ff 0%, #a200ff 100%);
    border-radius: 22px;
    transition: all 0.3s;
    width:364px;
    display:flex;
    justify-content: center;
    align-items:center;
    /* padding-left:40px; */
}

.form-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
    border-radius: 0;
    transition: all 0.2s;
    display:flex;
    justify-content: center;
    align-items:center;
    /* padding-left:30px; */
}

.form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
} */

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

.meal-plan {
    width: 80%;
    margin: 2em auto;
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#CNP{
    --glow-color: #a200ff;
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    /* color:#a200ff;
    background-color:black;
    font-size:16px;
    width: 400px;
    margin: 2em auto;
    /* border-radius:20px;
    height:40px; */
}
#CNP:hover{
    color:white;
    background-color:black;
    cursor:pointer;
    /* border-radius:0px; */
    border-color:#a200ff;
    transition-duration:0.5s;
}
.img{
    display:flex;
    justify-content:center;
    align-items:center;
}
.NUTBtn{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* #ABTN{
    text-decoration:none;
} */

#CNPL{
    text-decoration:none;
    color:white;
}

#HCUNP{
    color:white;
    background-color:#333;
    display:flex;
    font-size:50px;
    justify-content: center;
    text-align: center;
    padding:5px;
}
.nform {
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white;
    height: 550px;
    border-radius: 5px;
    width: 300px;
    margin: auto; /* Add this line to center horizontally */
    position: absolute; /* Add this line to center vertically */
    top: 280px;
    bottom: 300;
    left: 0;
    right: 0;
}
.af{
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: white;
    height: 300px;
    border-radius: 5px;
    width: 300px;
    margin: auto; /* Add this line to center horizontally */
    position: absolute; /* Add this line to center vertically */
    top: 180px;
    bottom: 300;
    left: 0;
    right: 0;
}
.resultsDiv{
    color:white;
    margin-top:700px;
    border-radius:10px;
}
.nform::before {
        content: 'Ready To Your Uniqe Plan?';
        font-size:30px;
        font-weight: bold;
        display: flex;
        width:80px;
        height:300px;
        position: absolute;
        justify-content: center;
        align-items:center;
        z-index: 99999;
        border-radius:5px;
}
.nform::after {
    content: '';
    backdrop-filter: blur(6px) grayscale(100%);
    background: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 70%, rgba(255, 255, 255, 0.3) 90%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    z-index: 9999;
    border-radius:5px;
  }
.nform::after,
.nform::before {
  border-radius: 5px;
  pointer-events: none;
  transition: all .5s ease-out;
}

.nform:hover,
.nform:focus-within {
  max-width: 100%;
  max-height: 550px;
  justify-content: center;
  align-items:center;
}

.nform:focus-within {
    overflow: initial;
  }
.nform:hover::after {
    backdrop-filter: blur(0) grayscale(0%);
}

.nform:hover::before,
.nform:hover::after {
  opacity: 0;
}



#IN{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}
#INH{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}
#INW{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}
#INA{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}
#INFP{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}
#INMH{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}
#foodItem{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}




#INBR{
    width:100%;
    padding:10px;
    border:1px solid;
    border-radius:3px;
    box-sizing:border-box;
    margin:10px;
}

.title{
    font-size:40px;
    position:flex;
    justify-content:center;
    text-align:center;
}

#GB{
    --glow-color: #8500d2;
    --glow-spread-color: rgba(132, 0, 255, 0.781);
    --enhanced-glow-color: rgb(67, 0, 129);
    --btn-color: rgb(255, 255, 255);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top:55px;
}
#s{
    --glow-color: #8500d2;
    --glow-spread-color: rgba(132, 0, 255, 0.781);
    --enhanced-glow-color: rgb(67, 0, 129);
    --btn-color: rgb(255, 255, 255);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top:55px;
}

#addItemButton{
    --glow-color: #8500d2;
    --glow-spread-color: rgba(132, 0, 255, 0.781);
    --enhanced-glow-color: rgb(67, 0, 129);
    --btn-color: rgb(255, 255, 255);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top:250px;
    margin-left:60px;
}

#addItemButton:hover{
    cursor:pointer;
}

#GB:hover{
   cursor:pointer;
}
#s:hover{
    cursor:pointer;
}
.BTNCL{
    position:flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.extra{
    align-items: center;
    justify-content: center;
    margin-top:100px;
    border-collapse: collapse;
    background-color:none;
    border-radius:10px;
}




/* .accountform{
    background-color:white;
    width:400px;
    height:700px;
    margin: auto;
    position: absolute;
    top:700px;
    bottom:500px;
    left: 0;
    right: 0;
    padding:30px;
    border-radius:10px;
} */
/* .profpic{
    background-color:rgb(115, 115, 115);
    height:200px;
    width:200px;
    border-radius:100px;
    top:0;
    left:100px;
    margin-left:100px;
} */

/* .profpic::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 230px;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
} */

/* .profpic:hover{
    content:"Your Profile Picture";
    width: 200px;
    height: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 50px;
    cursor:pointer;
    font-size:20px;
    color:white;
    top:40px;
    background-color:#8500d2;
} */

/* .ppic{
    height:250px;
    width:400px;
    /* border-style:solid;
    border-bottom: solid;
} */

/* .pplan{

} */


#ACD{
    border-style:solid;
    border-color:rgb(121, 121, 121);
    margin:30px;
}



.Acontainer {
    width:400px;
    height:400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

h2,h3,p{
    margin-bottom: 10px;
    justify-content:center;
    align-items:center;
    display:flex;
    font-size:25px;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content:center;
}

.profile-info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content:center;
    /* margin-right: 20px; */
}
#PF{
    border-radius:50%;
    height:100px;
    width:100px;
    visibility:hidden;
    margin:20px;
    /* padding:30px; */
}

.user-details {
    flex: 1;
}

.order-history{
    justify-content:center;
    display:flex;
    align-items:center;
}
#Sub {
    width: 200px;
    height: 50px;
    border-radius: 7px;
    background-color: white;
    color: black;
    font-size: 20px;
    border-style: none;
  }
  
  #Sub:hover::after {
    visibility: visible;
  }
  #Sub:hover{
    height: 100px;
    width: 400px;
    background-color: white; 
    color: black; 
  }
  
  #Sub::before {
    content:"Subscription";
    display: block;
    font-size:30px;
  }
  
  #Sub::after {
    content: "Nutrition Plan (6 Months)\AWorkout Plan (3 Months)";
    display: block;
    color: black;
    white-space:pre;
    visibility: hidden;
  }

.order-history li {
    margin-bottom: 5px;
}

/* Additional styling */
.profile-info h3 {
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
}



.radio-button-container {
    display: inline;
    align-items: center;
    gap: 30px;
  }
  
  .radio-button {
    display: inline;
    position: relative;
    cursor: pointer;
  }
  
  .radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-button__label {
    display:inline;
    padding-left: 40px;
    margin-bottom: 15px;
    margin-top:15px;
    position: relative;
    font-size: 20px;
    color: #000000;
    font-weight: 1000;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .radio-button__custom {
    position: absolute;
    top: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
  }
  
  .radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: #8500d2;
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px #8500d2;
  }
  
  .radio-button__input:checked + .radio-button__label {
    color: #8500d2;
  }
  
  .radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: #8500d2;
    box-shadow: 0 0 20px #8500d2;
  }


.space{
    height:200px;
}
  


.order-history{
    background-color:rgb(203, 203, 203);
    border-radius:10px;
    justify-content:center;
    align-items:center;
    padding:20px;
    margin:auto;
}


  

.nutrition-table {
    width: 70%;
    border-collapse: collapse;
    color:black;
    border-radius:20px;
    margin:auto;
}

.nutrition-table th, .nutrition-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    
}

.nutrition-table th {
    background-color: #f2f2f2;
}

.white-row {
    background-color: white;
}

.grey-row {
    background-color: #f9f9f9;
}

  
  
  
  




















/* 

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  
  #rays {
    z-index: 2;
    position: relative;
    bottom: -1.5em;
    animation: rays 2s ease-in-out infinite;
  }
  
  .NForm {
    position: relative;
    top: 5em;
    padding: 4%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 4px solid #fff;
    background: rgba(0, 255, 240, 0.52);
    box-shadow: 0px 0px 64px 0px #82e1ff inset, 0px 0px 16px #a8fffaa6;
    backdrop-filter: blur(3.5px);
    gap: 1em;
    animation: float 2s ease-in-out infinite;
  }
  
  #NLoginl {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow: 0px 0px 16px rgb(243, 243, 243);
  }

  .form-content {
    height: 3em;
    padding: 1px 8px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #fff;
    background: rgba(139, 255, 247, 0.486);
    box-shadow: 0px 0px 1px 3px #9ee5e3 inset, 0px 4px 4px 0px #181a6040;
    text-shadow: 0px 1px 4px rgb(243, 243, 243);
  }
  
  .form-content:focus-visible {
    outline: none;
    text-decoration: none;
    background: rgba(139, 189, 255, 0.59);
    box-shadow: 0px 0px 1px 4px #9ee5e3;
  }
  
  .form-content:hover {
    background: rgba(139, 189, 255, 0.59);
  }
  
  ::placeholder {
    font-weight: 300;
    color: rgb(128, 128, 128);
    letter-spacing: 0.1rem;
    text-shadow: 0px 1px 5px rgb(66, 66, 66);
  }
  
  .form button {
    cursor: pointer;
    height: 3.5rem;
    padding: 0%;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.3rem;
    border: 2px solid white;
    background: linear-gradient(144deg, #9c11ffce, #2000eeb6 50%, #15efffbb);
  }
  
  .form button:hover {
    position: relative;
    bottom: 4px;
    background: linear-gradient(144deg, #9c11ff, #2000ee 50%, #15fff3);
    box-shadow: 0px 0px 2px 2px #ffffff;
  }
  
  @keyframes float {
    0% {
      position: relative;
    }
  
    50% {
      top: 50px;
    }
  
    100% {
      position: relative;
    }
  }
  
  @keyframes rays {
    0% {
      opacity: 0.6;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.6;
    }
  } */










/* .login-signup{
    position:block;
    width:50%;
    height:50%;
    padding:20px;
    margin:auto;
    /* left:50%;
    top:50%; */
    /* background-color:rgb(255, 0, 0); */
/* } */