<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NutriFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/6866201b21.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="/css/style.css" />
</head> 

<div id="editProduct" class="page ">
    <div class="Tablelist">
        <h2>Products</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr><th>ProductID</th>
                        <th>Product name</th>
                        <th>Duration</th>
                        
                        <th>Price</th>
                        
                        <th></th>
                    </tr>
                </thead>
            <tbody id="ProductTABLE" >
                
                <% arr.forEach((item,index) => { %>
                    <tr>
                        <td><%= index +1 %> </td>
                    <td><%= item.plan %> </td>
                    <td><%= item.duration %> </td>
                    <td><%= item.price %></td>  
                           
                        <% }) %> 
                    </tr> 

            </tbody>
            
        </table>
    </div>
 
            
            
       
<div id="addPopupProduct" class="popup-container">
    <div class="popup-content">
        <span class="close" onclick="window.location.href = 'plan.ejs'">&times;</span>
        <h2>Add Data</h2>
        
        <form action="/admin/AddPlans" method="post">
        <input type="text" id="newProductName"
        class="inputdata" placeholder="new Product Name"><span id="AddProducterrorError" class="error-message hidden">this productname is unavailable</span><br><br>

        <input type="text" id="newProductDuration"
        class="inputdata" placeholder="Duration"><span id="AddProductDurationError" class="error-message hidden">unavailable Duration</span><br><br>

        <input type="text" id="newProductPrice"
        class="inputdata" placeholder="Price"><span id="AddProductPriceError" class="error-message hidden">please enter valid user id</span><br><br>
        
        <button onclick="addPlan(event)" class="editors">Add</button>
        </form>
    </div>
    </div>





<script src="/js/javascript.js"></script>