<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NutriFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/6866201b21.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="/css/style.css" />
</head> 


<div id="editProduct" class="page ">
    <div class="Tablelist">
        <h2>Products</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr><th>ProductID</th>
                        <th>Product name</th>
                        <th>Duration</th>
                        
                        <th>Price</th>
                        
                        <th></th>
                    </tr>
                </thead>
            <tbody id="ProductTABLE" >
                
                <% arr.forEach((item,index) => { %>
                    <tr>
                        <td><%= index +1 %> </td>
                    <td><%= item.plan %> </td>
                    <td><%= item.duration %> </td>
                    <td><%= item.price %></td>  
                           
                        <% }) %> 
                    </tr> 

            </tbody>
            
        </table>
    </div>

<div id="editPopupProduct" class="popup-container">
    <div class="popup-content">
        <span class="close" onclick="window.location.href = 'plan.ejs'">&times;</span>
        <h2>Edit Data</h2>
       

        <form action="/admin/EditPlans?_method=PUT" method="post">
            <input type="text" id="ProductIdedit" 
        class="inputdata" placeholder="ProductID"><span id="EditErrorProductId" class="error-message hidden">product not found!</span><br><br>

    <input type="text" id="ProductNameedit" 
    class="inputdata" placeholder="ProductName"><span id="EditErrorProductname" class="error-message hidden">Please enter correct name</span><br><br>

    <input type="text" id="newProductDurationedit"
    class="inputdata" placeholder="Duration"><span id="EditErrorDuration" class="error-message hidden">Duration is incorrect</span><br><br>

    <input type="number" id="updatedProductPrice" class="inputdata" placeholder="price" name="price"><br>

    <button onclick="editPlan(event)" class="editors">Edit</button>
</form>
    </div>
</div>





<script src="/js/javascript.js"></script>